.item-filter-container-hMsK
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 84.375rem;
  min-width: 20.75rem;
  margin: 0 auto;
}
.name-hMsK
{
  margin-left: 10px;

}
