
/* Header CSS */
.css-1qfsj45 {
    background-color: #646ddd;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    z-index: 1000;
}
.css-cdyvv2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1216px;
}
.css-80xxmx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #FFFFFF;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-4b9mqq {
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #fff;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    height: 42px;
    line-height: 42px;
}
.css-106diwz {
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    line-height: 1rem;
    padding: .365rem .75rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    color: #333333;
    border-width: 1px;
    border-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    color: #fff;
    --button-icon-color: #fff;
    border-radius: 0;
    font-size: 0.825rem;
    font-weight: 500;
}
.css-106diwz .highlight {
    margin-left: .5rem;
    color: #64B5F6;
}
.css-1x3u27e {
    width: 0.4rem;
    height: 0.4rem;
}
// MainHeaderPanel css:
.css-fzhdux {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1040;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.03);
    height: 104px;
    -webkit-transition: height 0.2s ease;
    transition: height 0.2s ease;
}
.css-10fapci {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1216px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.css-2j7sdf {
    width: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
}
.css-cssveg {
    position: relative;
}
.css-1k1ylu5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #dcdcdc;
    padding: 1px;
    border-radius: var(--search-bar-border-radius ,8px);
    --button-icon-border-radius: var(--search-bar-border-radius ,8px);
    border: 1px solid #eaeaea;
}
.css-t12nh1 {
    position: absolute;
    background: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
    padding: 0.5rem;
    display: none;
}
.css-c2gz83 {
    width: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.css-1sg2lsz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-fzhdux .nav-items .button {
    min-width: 90px;
}
.css-1x3u27e {
    width: 0.4rem;
    height: 0.4rem;
}
// Menu css
.css-104fsbw {
    z-index: 550;
    position: relative;
}
.css-72w87x {
    padding: 4px 0;
    font-size: 0.75rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0,0,0,0.08);
}
.css-ziwe5m {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.css-8lhlk2 {
    width: 100%;
}
.css-8lhlk2 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;

}
.css-1x14dpi {
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}
.css-rduj2l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
    padding: 0.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: #333;
    padding: 0 0.4rem;
    line-height: 32px;
    border-radius: 4px;
    overflow: hidden;
}
.css-7ofgwk {
    position: relative;
    overflow: hidden;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: unset;
    z-index: 0;
    margin: auto;
    border-radius: 0px;
    height: 22px !important;
    width: 22px;
}
.css-104fsbw {
    z-index: 550;
    position: relative;
}
.css-61wkd4 {
    width: 18%;
}
.css-rac23i {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0 0.6rem;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
